<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="vegetables.js"></script>
    <script src="fruits.js"></script>
    <title>청과물시장</title>

</head>
<body>
    <h1>채소, 과일 있어요!</h1>

    <button type="button" class="btn btn-success" id="popup_open_btn_v" onclick="vege()">채소 보러 오이소</button>
    <button type="button" class="btn btn-danger" id="popup_open_btn_f" onclick="fruit()">과일 있어요~~</button>
    <div id="cards-box"></div>

</body>
</html>

